* {
  margin: 0;
  padding: 0;
}
#root {
  --footer-padding: 5px;
  --grid-column: 1fr 1fr auto;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 100;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgb(160, 21, 21);
}

.navbar ul,
li,
a {
  font-family: "Quantico", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  list-style: none;
  text-decoration: none;
}

ul {
  width: 100%;
}
.navbar a {
  color: white;
  padding: 0rem 3vw;
  display: flex;
  justify-content: center;
}
.navbar a::after {
  content: "";
  width: 0px;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar a:hover::after {
  width: 90px;
  transition: all 0.5s ease;
}
.navbar .logo,
.logo {
  position: absolute;
  font-family: "Pushster", cursive;
  font-size: 30px;
  color: white;

  padding: 1rem;
  text-shadow: 2px 2px 0px black;
}
@keyframes heroMoveDown {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: radial-gradient(circle, rgb(251, 20, 89) -50%, rgba(193, 21, 21, 1) 100%);
  width: 100%;
  height: 100vh;
  transition: all 1s ease;
  overflow: hidden;
  animation: heroMoveDown 1.5s ease;
}

@keyframes hero-image-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(-1) rotate(25deg);
  }
}
.hero-container h1 {
  color: white;
  width: 40vw;
  text-align: center;
  border: none;
}
@keyframes arrowDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
.hero-container .arrow-down {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 85%;
  animation: arrowDown 1s alternate-reverse infinite;
}
.hero-container .arrow-down > * {
  color: white;
  width: 2rem;
  height: 2rem;
}
.hero-container img {
  height: calc(100% - 4rem);
  object-fit: contain;
  float: right;
  animation: hero-image-animation 1s ease-in-out forwards 2s;
  z-index: 2;
}

@keyframes hero-shoe-details {
  from {
    opacity: 0;
    left: -10%;
  }
  to {
    opacity: 1;
    left: -5%;
  }
}
.hero-container h2 {
  opacity: 0;
  color: white;
  position: relative;
  width: 30vw;
  transform: skewX(-45deg);
  animation: hero-shoe-details 1s ease 3s forwards;
  z-index: 1;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 2rem);
  padding: 1rem;
}
.categories h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: fit-content;
  border-bottom: 1px solid;
}
.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.category-card {
  display: flex;
  margin: 1rem;
  width: 30%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.category-card a {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
}
.category-card a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-card a h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  display: none;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
  width: 100%;
  height: 100%;
}
.category-card a:hover > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0rem;
}
.products h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  border-bottom: 1px solid;
}
.products-container {
  display: grid;
  grid-template-columns: var(--grid-column);
  min-height: 100vh;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 2rem;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid rgba(168, 168, 168, 0.664);
}
.product-card:hover {
  border: 1px solid black;
}
@keyframes product-image-jump {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  45% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  65% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
}

.product-card img {
  width: 80%;
  object-fit: cover;
  z-index: 2;
}
.product-card:hover > img {
  animation: product-image-jump 1s cubic-bezier(0.54, -0.05, 0.02, 1.2);
}

.product-card button {
  outline: none;
  border-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: black;
  background: rgb(221, 221, 221);
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.product-card:hover > button {
  color: white;
  background: crimson;
}

.product-card p {
  font-family: "Electrolize", sans-serif;
  font-size: 14px;
}
.product-card .name,
.gender,
.price {
  position: relative;
  bottom: 0;
  margin-right: auto;
  margin-left: 1rem;
  transition: all 0.15s ease;
}
.product-card .name {
  margin-top: auto;
}
.product-card .gender {
  opacity: 0.5;
  margin-bottom: auto;
}
.product-card .price {
  background-color: black;
  color: white;
  padding: 1px 0.5rem;
  bottom: 1rem;
  border-radius: 4px;
}
.product-card:hover > .name,
.product-card:hover > .gender {
  bottom: 0.25rem;
}
.product-card:hover > .price {
  bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
  background: rgb(34, 34, 34);
  color: white;
}
.footer-container {
  display: flex;
  padding: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 1rem;
}
.footer-links h3 {
  font-family: "Quantico", sans-serif;
  font-weight: 100;
  color: rgb(177, 176, 176);
  padding: var(--footer-padding);
}
.footer-links ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-links ul li a {
  list-style: none;
  text-decoration: none;
  padding: var(--footer-padding);
}
.footer-links a {
  font-family: "Quantico", sans-serif;
  font-weight: 100;
  color: white;
}
.footer-links a:hover {
  color: crimson;
}
.website-details {
  width: 50%;
  padding: 1rem;
}

.website-details .logo {
  position: unset;
  padding: var(--footer-padding);
}
.website-details p {
  padding: var(--footer-padding);
}
@media screen and (max-width: 480px) {
  * {
    --footer-padding: 2px;
    --grid-column: 1fr 1fr;
  }
}
.social-icons {
  display: flex;
  padding: var(--footer-padding);
  margin-left: -1rem;
}
.social-icons a > * {
  width: 2rem;
  height: 2rem;
  color: crimson;
  padding: 1rem;
  transition: all 0.5s ease;
}
.social-icons a:hover > * {
  color: white;
}
.copyright-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(19, 19, 19);
  height: 40px;
}
.copyright-section p {
  color: white;
  font-family: "Vollkorn", sans-serif;
}
